@import 'tailwindcss';
@import 'mapbox-gl/dist/mapbox-gl.css';
@plugin "daisyui" {
  themes: corporate --default;
  /* rootscrollgutter excluded to avoid layout shift, e.g. when you open a daisyui drawer*/
  exclude: rootscrollgutter;
}

@utility table-zebra {
  @apply table w-full [&_tr:nth-child(even)]:bg-neutral-100;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
