@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate --default;
  /* rootscrollgutter excluded to avoid layout shift, e.g. when you open a daisyui drawer*/
  exclude: rootscrollgutter;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
